@charset "UTF-8";

header {
  background-image: url("../assets/img/header-footer-background.svg");
  /* background by SVGBackgrounds.com */
  box-shadow: 1px 1px 15px 1px #000;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  height: 120px;
  max-width: 1440px;
  margin: 0 auto;
}

/* Título do Header */
.header-titulo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 2.6rem;
  font-weight: 500;
  cursor: default;
  transition: 0.5s ease-out;
  user-select: none;
}

.header-titulo:hover {
  position: relative;
  padding-left: 0.5rem;
  margin-right: -0.65rem;
  border-left: 0.2rem solid #fff;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.35);
}

.header-titulo strong {
  color: #fd0;
}

.icon {
  width: 32px;
  background-color: #222;
  border-radius: 6px;
  transition: 0.5s ease-out;
}

/* Ícone DEV feito por Freepik: https://www.freepik.com from Flaticon: https://www.flaticon.com */

.header-titulo:hover .icon {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.35);
}

/* Fim do Título do Header*/

/* Menu do Header */
.header-menu nav ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-size: 1.35rem;
}

.header-menu a {
  padding: 12px;
  color: #fff;
  transition: 0.4s;
}

.header-menu a:hover {
  border-radius: 2px;
  color: #fd0;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 670px) {
  .header-container {
    margin: 0 15px;
  }
}

@media (max-width: 616px) {
  .header-container {
    height: 180px;
    padding: 30px 0 10px;
  }
}

@media (max-width: 332px) {
  .header-container {
    height: 210px;
  }

  .header-menu nav ul {
    gap: 16px;
    margin: 32px 0;
  }
}
