@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&display=swap");

/* CSS Reset 
  http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End of CSS Reset */

/* My CSS */
html {
  background-image: url("../assets/img/background.svg");
  /* background by SVGBackgrounds.com */
  background-attachment: fixed;
  font-family: "Rubik", sans-serif;
  color: #fff;
  word-wrap: break-word;
  scroll-behavior: smooth;
}

/* Identical Classes and Tags */
.section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  margin: 100px auto;
}

.section-titulo {
  font-size: 1.8rem;
  font-weight: 500;
  color: #5cf;
}

.redes-sociais-container div,
.tecnologia-descricao {
  display: flex;
  align-items: center;
  gap: 16px;
  background-color: #222;
  border-radius: 4px 10px 10px 4px;
  width: 100%;
  box-shadow: 0 0 5px #000;
  user-select: none;
  transition: 0.2s;
  font-size: 1.1rem;
}

section div p {
  margin-top: 24px;
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.75rem;
  color: #eee;
  letter-spacing: 0.1rem;
}

section div p strong {
  color: #afc;
  font-weight: 500;
}

section div a {
  color: #fe8;
  font-size: 1.3rem;
  font-weight: 500;
  transition: 0.5s;
}

section div a:hover {
  color: #fd0;
}

strong {
  font-weight: 600;
}

@media (max-width: 1280px) {
  .section-container {
    margin: 100px 20px;
  }
}
