@charset "UTF-8";

/* IDs e Classes */
.header-principal {
   background-color: #3333FF;
   padding: 2rem 1rem;
   margin-bottom: 50px;
}

.header-menu-principal {
   display: flex;
}

.header-grid {
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: space-between;
}

.header-titulo {
   color: #FFFFFF;
   font-size: 2.5rem;

   transition: 0.5s;
}

.header-titulo:hover {
   position: relative;
   padding-left: 0.5rem;
   border-left: 0.2rem solid #FFFFFF;

   font-size: 2.56rem;
}

.header-menu-itens {
   display: inline;
   margin-left: 2rem;
   padding-bottom: 0.2rem;
   border-bottom: 0.15rem solid #3333FF;

   color: #FFFFFF;
   font-size: 1.4rem;

   transition: 0.75s;
}

.header-menu-itens:hover {
   position: relative;
   border-bottom: 0.15rem solid #FFFFFF;
   padding: 0.3rem 0.3rem;
}

/* Tags HTML */
body {
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

footer {
   margin-top: 50px;

   padding: 30px;
   background-color: #3333FF;

   text-align: center;
   font-size: 1.2rem;
   color: #FFFFFF;
}