@charset "UTF-8";

.tecnologias-logos-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 18px;
  margin-top: 24px;
}

.tecnologia-descricao img {
  margin: 12px;
  height: 64px;
}

.tecnologia-descricao {
  border-left: 2px solid #333;
  cursor: pointer;
}

.tecnologia-descricao:hover {
  border-left: 2px solid #afc;
  color: #afc;
  box-shadow: 0 0 10px #000;
  transform: scale(1.01);
}

@media (max-width: 800px) {
  .tecnologias-logos-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 550px) {
  .tecnologias-logos-container {
    display: flex;
    flex-wrap: wrap;
  }

  .tecnologia-descricao {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    width: 140px;
    font-size: 1rem;
  }

  .tecnologia-descricao h3 {
    margin-bottom: 15px;
  }
}
